<header>
  <nav>
    <div id="navbar">
      <div id="logo">
        <div class="logo"><a href="/">Ai Li Jewelry</a></div>
      </div>
      <div id="links">
        <a href="/about">About</a>
        <a href="/shop">Shop</a>
        <a href="/contact">Contact</a>
      </div>

      <div class="mobile-btn menu">
        <a id="menu-btn">
          <svg viewBox="0 0 100 80" width="30" height="30" fill="white">
            <rect width="100" height="10"></rect>
            <rect y="30" width="100" height="10"></rect>
            <rect y="60" width="100" height="10"></rect>
          </svg>
        </a>
      </div>
    </div>
  </nav>
  <!-- Mobile Menu -->
  <div id="mobile-menu" class="mobile-menu">
    <ul class="mobile-links">
      <li class="nav-list"><a href="/about">About</a></li>
      <li class="nav-list"><a href="/shop">Shop</a></li>
      <li class="nav-list"></li><a href="/contact">Contact</a>
    </ul>
  </div>
</header>
<script>
  const buttons = document.querySelectorAll("div.menu");

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const x = document.getElementById("mobile-menu");
      if (x?.style?.display === "none") {
        x.style.display = "block";
      } else {
        x!.style.display = "none";
      }
    });
  });
</script>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #8d307c 30%,
      rgb(160, 22, 202) 60%
    );
  }

  #navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-image: var(--accent-gradient);
    grid-gap: 1.5em;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgb(80, 13, 80);
    -moz-box-shadow: -1px 4px 5px 0px rgb(49, 5, 49);
    box-shadow: -1px 4px 5px 0px rgb(31, 9, 31);
  }

  #logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  #links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
    color: white;
  }

  /* =======================
******* Mobile Menu ******
========================*/
  .mobile-menu {
    display: block;
    list-style-type: none;
    padding: 5px 0 5px 0;
    background-image: var(--accent-gradient);

    z-index: 305;
  }

  .mobile-links li {
    line-height: 2.8rem;
  }

  .mobile-btn {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    cursor: pointer;
  }

  .nav-list {
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
  }

  .nav-list:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  /* Mobile to Tablet  */
  @media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
      display: none;
    }
  }

  /* Tablet to Desktop */
  @media (min-width: 768px) {
    .mobile-menu,
    .mobile-btn,
    .fa-bars {
      display: none;
    }
  }
</style>
